<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">
    <div class="Tag Tag_xs"><a href="/tags/index.html" th:text="#{topbar.modernliterature}">современная литература</a>
    </div>


    <div class="Tag Tag_sm"><a href="/tags/index.html" th:text="#{topbar.classicalliterature}">классическая
        литература</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.foreignliterature}">зарубежная литература</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index.html" th:text="#{topbar.fantasy}">фэнтези</a>
    </div>
    <div class="Tag Tag_lg"><a href="/tags/index.html" th:text="#{topbar.Englishliterature}">английская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.Russianliterature}">русская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.Americanliterature}">американская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.fiction}">фантастика</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index.html" th:text="#{topbar.children'sliterature}">детская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.detective}">детектив</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index.html" th:text="#{topbar.love}">любовь</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index.html" th:text="#{topbar.mysticism}">мистика</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.humor}">юмор</a>
    </div>

    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.adventures}">приключения</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.fairytale}">сказка</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.Frenchliterature}">французская литература</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index.html" th:text="#{topbar.england}">англия</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.artisticliterature}">художественная литература</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index.html" th:text="#{topbar.psychology}">психология</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.philosophy}">философия</a>
    </div>
    <div class="Tag Tag_lg"><a href="/tags/index.html" th:text="#{topbar.filmed}">экранизировано</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.favorite}">любимое</a>
    </div>

    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.dystopia}">антиутопия</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index.html" th:text="#{topbar.booksyoumustreadbeforeyoudie}">books you must
        read before you die</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.roman}">роман</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index.html" th:text="#{topbar.france}">франция</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.givemetwo}">дайте две</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.youngadult}">young adult</a>
    </div>
    <div class="Tag Tag_lg"><a href="/tags/index.html" th:text="#{topbar.war}">война</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.history}">история</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index.html" th:text="#{topbar.flashmob2016}">флэшмоб 2016</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.childhood}">детство</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.life}">жизнь</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.drama}">драма</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index.html" th:text="#{topbar.russia}">россия</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index.html" th:text="#{topbar.booktrip}">книжное путешествие</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.sovietliterature}">советская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.thriller}">триллер</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.America}">америка</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index.html" th:text="#{topbar.Germanliterature}">немецкая литература</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index.html" th:text="#{topbar.vampires}">вампиры</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.schoolprogram}">школьная программа</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index.html" th:text="#{topbar.stories}">рассказы</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.magic}">магия</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.children}">дети</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.Russianclassics}">русская классика</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.flashmob2015}">флэшмоб 2015</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.biography}">биография</a>
    </div>
    <div class="Tag"><a href="/tags/index.html" th:text="#{topbar.english}">english</a>
    </div>
</div>
</html>